:root{
  --bg-color: #F2F2F2;
  --div-color: #EAE4D5;
  --btn-color: rgb(36,154,4);
  --font-family: 'Caveat', 'sans-serif';
  --button-color-hover: #025E1C;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

/* --------------------------  nav bar stayling ----------------------------------- */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.95);
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 80%;
  height: 3.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.logo{
  font-size: 3rem;
  color: orange;
  transition: transform 0.3s;
}
.logo:hover{
   transform: scale(1.1);
}
 .linklist {
  display: flex;
  align-items: center;
  gap: 2rem; 
}
.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  transition: transform 0.3s;
  display: inline-block;
}

.linklist a:hover {
  border-bottom: solid 2px black;
  transform: scale(1.1);
}
.btn{
   transition: transform 0.3s;
   padding: 5px;
}
.btn:hover{
   transform: scale(1.1);
}



/* --------------------------- menu page hero -------------------------------- */
.menu-page-header{
  height: 30rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  background: url("./img/menu-header-bg-img.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-page-header > h1{
  font-size: 5rem;
}
/* -------------------------------------- foods menu styling ----------------------------- */
.foods-menu{
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1rem;

}
.btn-menu{
  width: 9rem;
  margin-top: 2rem;
  display: inline-block;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--btn-color);
  text-transform: uppercase;
  color: #fff;
}
.btn-menu:hover{
  background-color: var(--button-color-hover);
}
.menus-box{
  text-align: center;
  height: 16rem;
  /* width: 15rem; */
  box-shadow: 14px 16px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--div-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  gap: 0.5rem;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.menus-box > h1{
  font-size: 3rem;
}
.menus-box h4{
  line-height: 1.3rem;
}
.fa-solid {
  font-size: 2.5rem;
}
/* ------------------------------------     img div menus ------------------------------------------ */
.img-div-foods{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: url("./img/break-section.jpg");
  height: 14rem;
  /* width: 65rem; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.img-div-foods > h1{
  background-color: #fff;
  height: 4rem;
  font-size: 2.5rem;
  width: 17rem;
  text-align: center;
  color: orange;
}

/* ------------------------ drinks section img  ------------------------*/

.img-div-drinks{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: url("./img/break-section.jpg");
  height: 14rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.img-div-drinks > h1{
  background-color: #fff;
  height: 4rem;
  font-size: 2.5rem;
  width: 17rem;
  text-align: center;
  color: orange;
}

/* ------------------------ liked foods section img  ------------------------*/
.img-div-liked{
    margin-top: 2rem;
  margin-bottom: 2rem;
  background: url("./img/break-section.jpg");
  height: 14rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.img-div-liked > h1{
    background-color: #fff;
  height: 4rem;
  font-size: 2.5rem;
  width: 20rem;
  text-align: center;
  color: orange;
}

/* -------------------------------------- foods menu styling ----------------------------- */
.menu-catagories{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 2rem;
  padding: 3rem;
}
.drinks{
  /* width: 12rem; */
  flex-basis: 17rem;
  /* text-align: right; */
  height: 17rem;
  /* border: 2px solid orange; */
  box-shadow: 14px 16px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--div-color);
  border-radius: 10px;
}
.detail{
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
p{
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
}
.drinks img{
  /* height: 9.2rem; */
  width: 17rem;
  height: 10rem;
  border-top-left-radius: 10px;
  border-top-right-radius:  10px;
}
a{
  color: black;
}

.drinks-section-menu{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 2rem;
  padding: 3rem;
}
/* -----------------------  most liked Delshes----------------------------------- */

.liked{
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 2rem;
  padding: 3rem;
}

/* -----------------------------  footer style -------------------------------------- */
.contact-footer {
  background-color: var(--bgcolor);
  padding: 60px 80px;
  /* border: 1px solid red; */
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}
.contact-left {
  flex: 1.2;
}
.contact-left a {
  color: black;
  text-decoration: none;
}
.contact-left > h2{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact-left > p{
  font-size: 1.4rem;
  line-height:1.8rem;
}
.contactform input, .contactform textarea{
    width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 1rem;
  box-sizing: border-box;
}
.contactform input:focus, .contactform textarea:focus{
  border-color: var(--btn-color);
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 128,0,0.2);
}
.contactform textarea{
  resize: none;
}
.socialMedia {
  display: flex;
  gap: 30px;
  margin-top: 8rem;
}

.socialMedia > div {
  flex: 1;
  min-width: 180px;
}

.contact-right {
  background: var(--div-color);
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  flex: 1;
  max-width: 450px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
}

.form-note {
  font-size: 0.7rem;
  font-weight: bolder;
  color: black;
  margin-top: 40px;
}
.fa-facebook{
  font-size: 60px;
  color: blue;
    transition: transform 0.3s ;
}
.fa-instagram{
  font-size: 60px;
  color: #f15757;
  transition: transform 0.3s ;
}
.fa-tiktok{
color: black;
  font-size: 60px;
    transition: transform 0.3s ;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-tiktok:hover{
    transform: scale(1.05);
 
}
.continue {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background-color: var(--btn-color);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;

}
.continue:hover {
  background-color: var(--button-color-hover);
}
.socialMedia h4{
  margin-bottom: 1.5rem;
}




/* ------------------------- Making The menu page resposive ---------------------- */

@media(max-width:768px){
  
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-div-foods , .img-div-drinks , .img-div-liked{
    width: 100%;
  }
.menu-page-header{
  width: 100%;
  justify-content: center;
  background-size:cover;
} 
.socialMedia {
  /* order: -3; */
  /* display: none; */
}


.contact-container{
    display: block;
    text-align: center;
   
  }
  .socialMedia{
    margin-bottom: 4rem;
  }
  .contact-right {
 
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  flex: 1;


}
.contact-right{
  margin: 0 auto;
}
.contact-right p{
  text-align: center;
  font-weight: bolder;
}
}